.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}



 







.cart-items {
  list-style: none; 
  padding: 10px 0 2px 0;
 
}

.cart-items li {
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid red;
  padding: 10px 0 5px 0;

}

.cart-li{
  display: flex;
  flex-direction: column;
}
.cart-items li .name {
  font-weight: bold;
  font-size: x-large;
}

.cart-items li .price {
  font-weight: bold;
  font-size: 0.9rem;
  color: red; 
}
.cart-items li .quantity{
  padding-left: 5rem;
}
.cart-items li .quantity button { 
  font-size: 0.9rem;
  background-color: white;
  border: 0.1px solid black;

  color: black;
}
.cart-items li .quantityButtons button {
  font-size: 1rem;
  padding: 5px 18px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  
}

.cart-items li .quantityButtons button:hover {
  background-color: #f2f2f2;
}